* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}

body {
  background-color: #02738a; /* Fundo geral mais escuro */
  color: #ffffff; /* Cor principal do texto */
  font-family: Arial, Helvetica, sans-serif;
  min-width: 300px;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a {
  color: #ffffff; /* Cor dos links */
  text-decoration: none; /* Remover sublinhado padrão */
  transition: color 0.3s ease; /* Transição suave na cor do texto */
}

a:hover {
  color: #a8a8a8; /* Mudança de cor ao passar o mouse */
}

.content {
  align-items: center;
  background-size: auto 150px;
  background-repeat: repeat-x;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 20px; /* Maior espaçamento interno */
  padding-top: 90px;
  overflow-y: auto;
}

.input {
  color: #333; /* Cor do texto nos inputs */
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc; /* Borda suave */
  background-color: #fff; /* Fundo branco dos inputs */
  transition: border-color 0.3s ease; /* Transição suave na cor da borda */
}

.input::placeholder {
  color: #aaa; /* Cor do placeholder nos inputs */
}

.input:focus {
  outline: none; /* Remover contorno ao focar */
  border-color: #6c757d; /* Cor da borda ao focar */
}

.btn {
  background-color: #6c757d; /* Cinza escuro para botões */
  border: none;
  border-radius: 5px;
  color: #fff; /* Texto branco nos botões */
  padding: 10px 25px; /* Maior espaçamento interno */
  cursor: pointer;
  transition: background-color 0.3s ease; /* Transição suave na cor de fundo */
}

.btn:hover {
  background-color: #5a6268; /* Escurecimento ao passar o mouse */
}

.mb-5 {
  margin-bottom: 20px;
}

.addMarkerDialog {
  background-color: #fff; /* Fundo branco para diálogo */
  font-size: 14px;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
  border-radius: 8px;
  z-index: 1;
}
